In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('https://gist.githubusercontent.com/omarish/5687264/raw/7e5c814ce6ef33e25d5259c1fe79463c190800d9/mpg.csv')

In [3]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model_year        int64
origin            int64
name             object
dtype: object

In [4]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [5]:
df.shape

(398, 9)

In [6]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model_year      398 non-null int64
origin          398 non-null int64
name            398 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [14]:
df.drop('name', 1, inplace=True)

In [16]:
df.head

<bound method NDFrame.head of       mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
5    15.0          8         429.0        198    4341          10.0
6    14.0          8         454.0        220    4354           9.0
7    14.0          8         440.0        215    4312           8.5
8    14.0          8         455.0        225    4425          10.0
9    15.0          8         390.0        190    3850           8.5
10   15.0          8         383.0        170    3563          10.0
11   14.0          8         340.0        160    3609           8.0
12   15.0          8         400.0        150    3761           9.5
13   14.0          8         455.0        225    3086          10.0
14   24.0          4         113.0         95    2372          15.0
15   22.0          6         198.0         95    2833          15.5
16   18.0          6         199.0         97    2774          15.5
17   21.0          6         200.0         85    2587          16.0
18   27.0          4          97.0         88    2130          14.5
19   26.0          4          97.0         46    1835          20.5
20   25.0          4         110.0         87    2672          17.5
21   24.0          4         107.0         90    2430          14.5
22   25.0          4         104.0         95    2375          17.5
23   26.0          4         121.0        113    2234          12.5
24   21.0          6         199.0         90    2648          15.0
25   10.0          8         360.0        215    4615          14.0
26   10.0          8         307.0        200    4376          15.0
27   11.0          8         318.0        210    4382          13.5
28    9.0          8         304.0        193    4732          18.5
29   27.0          4          97.0         88    2130          14.5
..    ...        ...           ...        ...     ...           ...
368  27.0          4         112.0         88    2640          18.6
369  34.0          4         112.0         88    2395          18.0
370  31.0          4         112.0         85    2575          16.2
371  29.0          4         135.0         84    2525          16.0
372  27.0          4         151.0         90    2735          18.0
373  24.0          4         140.0         92    2865          16.4
374  23.0          4         151.0          ?    3035          20.5
375  36.0          4         105.0         74    1980          15.3
376  37.0          4          91.0         68    2025          18.2
377  31.0          4          91.0         68    1970          17.6
378  38.0          4         105.0         63    2125          14.7
379  36.0          4          98.0         70    2125          17.3
380  36.0          4         120.0         88    2160          14.5
381  36.0          4         107.0         75    2205          14.5
382  34.0          4         108.0         70    2245          16.9
383  38.0          4          91.0         67    1965          15.0
384  32.0          4          91.0         67    1965          15.7
385  38.0          4          91.0         67    1995          16.2
386  25.0          6         181.0        110    2945          16.4
387  38.0          6         262.0         85    3015          17.0
388  26.0          4         156.0         92    2585          14.5
389  22.0          6         232.0        112    2835          14.7
390  32.0          4         144.0         96    2665          13.9
391  36.0          4         135.0         84    2370          13.0
392  27.0          4         151.0         90    2950          17.3
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model_year  origin
0            70       1
1            70       1
2            70       1
3            70       1
4            70       1
5            70       1
6            70       1
7            70       1
8            70       1
9            70       1
10           70       1
11           70       1
12           70       1
13           70       1
14           70       3
15           70       1
16           70       1
17           70       1
18           70       3
19           70       2
20           70       2
21           70       2
22           70       2
23           70       2
24           70       1
25           70       1
26           70       1
27           70       1
28           70       1
29           71       3
..          ...     ...
368          82       1
369          82       1
370          82       1
371          82       1
372          82       1
373          82       1
374          82       1
375          82       2
376          82       3
377          82       3
378          82       1
379          82       1
380          82       3
381          82       3
382          82       3
383          82       3
384          82       3
385          82       3
386          82       1
387          82       1
388          82       1
389          82       1
390          82       3
391          82       1
392          82       1
393          82       1
394          82       2
395          82       1
396          82       1
397          82       1

[398 rows x 8 columns]>

In [23]:
df.cylinder=pd.to_numeric(df['cylinders'],errors='coerce').isnull

In [24]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
dtype: int64

In [25]:
df.head

<bound method NDFrame.head of       mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
5    15.0          8         429.0        198    4341          10.0
6    14.0          8         454.0        220    4354           9.0
7    14.0          8         440.0        215    4312           8.5
8    14.0          8         455.0        225    4425          10.0
9    15.0          8         390.0        190    3850           8.5
10   15.0          8         383.0        170    3563          10.0
11   14.0          8         340.0        160    3609           8.0
12   15.0          8         400.0        150    3761           9.5
13   14.0          8         455.0        225    3086          10.0
14   24.0          4         113.0         95    2372          15.0
15   22.0          6         198.0         95    2833          15.5
16   18.0          6         199.0         97    2774          15.5
17   21.0          6         200.0         85    2587          16.0
18   27.0          4          97.0         88    2130          14.5
19   26.0          4          97.0         46    1835          20.5
20   25.0          4         110.0         87    2672          17.5
21   24.0          4         107.0         90    2430          14.5
22   25.0          4         104.0         95    2375          17.5
23   26.0          4         121.0        113    2234          12.5
24   21.0          6         199.0         90    2648          15.0
25   10.0          8         360.0        215    4615          14.0
26   10.0          8         307.0        200    4376          15.0
27   11.0          8         318.0        210    4382          13.5
28    9.0          8         304.0        193    4732          18.5
29   27.0          4          97.0         88    2130          14.5
..    ...        ...           ...        ...     ...           ...
368  27.0          4         112.0         88    2640          18.6
369  34.0          4         112.0         88    2395          18.0
370  31.0          4         112.0         85    2575          16.2
371  29.0          4         135.0         84    2525          16.0
372  27.0          4         151.0         90    2735          18.0
373  24.0          4         140.0         92    2865          16.4
374  23.0          4         151.0          ?    3035          20.5
375  36.0          4         105.0         74    1980          15.3
376  37.0          4          91.0         68    2025          18.2
377  31.0          4          91.0         68    1970          17.6
378  38.0          4         105.0         63    2125          14.7
379  36.0          4          98.0         70    2125          17.3
380  36.0          4         120.0         88    2160          14.5
381  36.0          4         107.0         75    2205          14.5
382  34.0          4         108.0         70    2245          16.9
383  38.0          4          91.0         67    1965          15.0
384  32.0          4          91.0         67    1965          15.7
385  38.0          4          91.0         67    1995          16.2
386  25.0          6         181.0        110    2945          16.4
387  38.0          6         262.0         85    3015          17.0
388  26.0          4         156.0         92    2585          14.5
389  22.0          6         232.0        112    2835          14.7
390  32.0          4         144.0         96    2665          13.9
391  36.0          4         135.0         84    2370          13.0
392  27.0          4         151.0         90    2950          17.3
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model_year  origin
0            70       1
1            70       1
2            70       1
3            70       1
4            70       1
5            70       1
6            70       1
7            70       1
8            70       1
9            70       1
10           70       1
11           70       1
12           70       1
13           70       1
14           70       3
15           70       1
16           70       1
17           70       1
18           70       3
19           70       2
20           70       2
21           70       2
22           70       2
23           70       2
24           70       1
25           70       1
26           70       1
27           70       1
28           70       1
29           71       3
..          ...     ...
368          82       1
369          82       1
370          82       1
371          82       1
372          82       1
373          82       1
374          82       1
375          82       2
376          82       3
377          82       3
378          82       1
379          82       1
380          82       3
381          82       3
382          82       3
383          82       3
384          82       3
385          82       3
386          82       1
387          82       1
388          82       1
389          82       1
390          82       3
391          82       1
392          82       1
393          82       1
394          82       2
395          82       1
396          82       1
397          82       1

[398 rows x 8 columns]>